body {
  font-family: Lato;
  background-color: #F95342;
}

h1 {
  text-align: center;
  color: white;
  font-weight: 900;
}

// .app {
//   margin-top: 20px;
//   margin-bottom: 20px;
// }

.user-list {
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  margin-right: 100px;
  // display: flex;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
  }
  .box>* {
     flex: 1 1 160px;
     margin: 10px;
  }

.listed-user {
  // margin: 5px 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.active-user {
  background-color: white;
  padding: 25px;
  margin: 10px;
  border-radius: 5px;

}

.active-user {

}

h2 {
  margin-top: 10px;
  color: #F95342;
  font-size: 20px;
}
